<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <% @page_title = "My Social Accounts" %>
  <%= render 'layouts/page_header' %>

  <!-- Main content -->
  <section class="content">
    <% @accounts.each do |account, index| %>
      <ul>
        <li><%= image_tag(("https://graph.facebook.com/v2.12/#{account["id"]}/picture?access_token=#{account["access_token"]}&width=50&height=50"), class: "img-circle") %>  <%= account["name"] %></li>
      </ul>
    <% end %>

    



  </section>
</div>
