 <div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <% @page_title = "Dynamic Tiltle" %>
  <%= render 'layouts/page_header' %>

  <!-- Main content -->
  <section class="content">
    
  </section>
  <!-- /.content -->
</div> -->
