<section class="content-header">
  <h1>
    <%= @page_title %>
    <!-- <small>preview of simple tables</small> -->
  </h1>
  <ol class="breadcrumb">
    <li>Import Facebook Pages: &nbsp;<%= link_to ('<i class="fa fa-facebook"></i>').html_safe, users_path, class: "btn btn-social-icon btn-facebook"  %></li>
    <!-- <li><a href="#">Tables</a></li>
    <li class="active">Simple</li> -->
  </ol>
</section>
