<section class="content-header">
  <h1>
    <%= @page_title %>
    <!-- <small>preview of simple tables</small> -->
  </h1>
    <div class="import--text import--padding">Import Facebook Pages: &nbsp;<%= link_to ('<i class="fa fa-facebook"></i>').html_safe, users_path , class: "link-hover" %></div>
    <!-- <li><a href="#">Tables</a></li>
    <li class="active">Simple</li> -->
</section>
